{{ 'size-chart.css' | asset_url | stylesheet_tag }}

<div class="size-chart-container">
    <h2 class="size-chart-title">Size Guide - Dresses</h2>
    <p class="size-chart-description">Please note that our sizing charts below are a general guide. If you require further sizing information, or sizing enquiries regarding a particular item, our customer care team are&nbsp;here to&nbsp;help! Please contact us via our <a href="https://www.ariavalentina.com/pages/contact">contact form</a>.</p>
    {% comment %} <div class="size-chart-image">
        <img class="CartItem__Image" src="https://cdn.shopify.com/s/files/1/0635/0405/6469/files/Group_1_2.png?v=1711123698" alt="Size Chart">
    </div> {% endcomment %}
    {% comment %} <div class="size-chart-info">
        <div class="size-chart-icon">{{ section.settings.icon }}</div>
        <p class="size-chart-subtitle">{{ section.settings.subtitle }}</p>
        <div class="size-chart-subdescription">{{ section.settings.subdescription }}</div>
    </div> {% endcomment %}
    <div class="size-chart-table">
        <table>
            <tbody>
                <tr>
                    <td><strong>Size(cm)</strong></td>
                    <td><strong>Bust</strong></td>
                    <td><strong>Waist</strong></td>
                    <td><strong>Hips</strong></td>
                    <td><strong>Length</strong></td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>72-88</td>
                    <td>62-70</td>
                    <td>83-92</td>
                    <td>134</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>76-92</td>
                    <td>66-74</td>
                    <td>87-96</td>
                    <td>136</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>80-96</td>
                    <td>70-78</td>
                    <td>91-100</td>
                    <td>138</td>
                    
                </tr>
            </tbody>
          </table>
    </div>
</div>

